<div class="row">
    <div class="col-12">
        <h2 id="bio">Bio</h2>
    </div>
</div>
<div class="row">
    <div class="col-8">
        <p>
            I am a third-year Computer Science PhD student in
            <a href="https://cs.illinois.edu/research/areas/systems-and-networking">SysNet</a> area
            at UIUC working with
            <a href="https://tianyin.github.io/">Prof. Tianyin Xu</a>.
        </p>
        <p>
            I am generally interested in Systems, in particular, Distributed System and Operating Systems.
            My current research focuses on improving the reliability of cloud system management in the context of
            Kubernetes.
        </p>


        <p>I received my B.S. Computer Science from University of Wisconsin-Madison. I was
            an undergrad Research Assitant in <a href="http://www.paradyn.org/">Paradyn Tools Project</a> group
            at UW-Madison,
            advised by <a href="http://pages.cs.wisc.edu/~bart/">Prof. Barton Miller</a>. I also worked with <a
                href="http://www.earlence.com/">Prof. Earlence Fernandes</a> on an adversarial ML project.
        </p>
    </div>
    <div class="col-4">
        <img src="assets/images/bio.jpg">
    </div>
</div>