<div class="row">
    <div class="col-12">
        <h2>Publication</h2>
    </div>
</div>

{% for publication in site.data.publications %}
<div class="row">
    <div class="col-2 align-self-center">
        <h4 class="conference">{{ publication.conference }}</h4>
    </div>
    <div class="col-10">
        <p class="papertitle">
            {{ publication.title }}
            &nbsp;
            [<a class="paperauthors" href="{{publication.file}}">pdf</a>]
            &nbsp;
            [<a class="paperauthors" href="{{ publication.code }}">code</a>]
        </p>
        <p class="paperauthors"> {{ publication.author }} </p>
        <p class="paperauthors"> {{ publication.booktitle }}, {{ publication.address }},
            {{ publication.month }}, {{ publication.year }} </p>
        {% for note in publication.extra_notes %}
            <p class="paperauthors"> {{ note }} </p>
        {% endfor %}
    </div>
    &nbsp;
</div>
{% endfor %}
