.conference {
    font-family: "Noto Sans", "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.papertitle {
    font-family: "Noto Sans", "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: bold;
    margin-top: 0;
    margin-bottom:0;
}

.paperauthors {
    font-family: "Noto Sans", "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 16px;
}

.smallmargin {
    margin:0;
}