.conference {
    font-family: "Courier New", Courier, monospace;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.papertitle {
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 0;
    margin-bottom:0;
}

.paperauthors {
    font-family: sans-serif;
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 16px;
}

.smallmargin {
    margin:0;
}